package logs

import (
	"{{MODULE}}/config"

	"go.uber.org/zap"
)

func NewLogger(cfg *config.Config) (*zap.Logger, error) {
	zapCfg := zap.NewProductionConfig()
	if cfg.ENV == config.Dev {
		zapCfg = zap.NewDevelopmentConfig()
	}

	return zapCfg.Build()
}

func NewSugaredLogger(logger *zap.Logger) *zap.SugaredLogger {
	return logger.Sugar()
}
