package fx

import (
	"{{MODULE}}/config"
	"{{MODULE}}/internal/logs"

	"go.uber.org/fx"
)

var CoreAppOptions = fx.Options(
	fx.Provide(
		config.NewViper,
		config.NewConfig,
		logs.NewLogger,
		logs.NewSugaredLogger,
	),
)
