package main

import (
	"go.uber.org/fx"
	"go.uber.org/fx/fxevent"
	"go.uber.org/zap"

	cachefx "{{MODULE}}/cache/fx"
	dbfx "{{MODULE}}/db/fx"
	appfx "{{MODULE}}/internal/app/fx"
	healthfx "{{MODULE}}/internal/app/health/fx"
	routerfx "{{MODULE}}/internal/router/fx"
	serverfx "{{MODULE}}/internal/server/fx"
)

func main() {
	app := fx.New(
		fx.WithLogger(func(logger *zap.Logger) fxevent.Logger {
			return &fxevent.ZapLogger{Logger: logger}
		}),
		appfx.CoreAppOptions,
		dbfx.Module,
		cachefx.Module,
		routerfx.CoreRouterOptions,
		serverfx.ServerOptions,
		healthfx.Module,
	)

	app.Run()
}
